<%- include('../../template/header-login-register.ejs') %> 
<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="login-brand">
          <a href="index.html"><img src="public/img/logo.svg" alt="logo" width="200"></a>
        </div>

        <div class="card card-primary">
          <div class="card-header" style="font-size: 16px;"><h4>Login</h4></div>

          <div class="card-body">
            <form method="POST" action="#" class="needs-validation" novalidate="">
              <div class="form-group">
                <label for="email" style="font-size: 16px;">Email</label>
                <input style="font-size: 16px;" id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                <div class="invalid-feedback" style="font-size: 16px;"> 
                  Please fill in your email
                </div>
              </div>

              <div class="form-group">
                <div class="d-block">
                  <label for="password" class="control-label" style="font-size: 16px;">Password</label>
                  <div class="float-right" style="font-size: 16px;">
                    <a href="#" class="text-small">
                      Forgot Password?
                    </a>
                  </div>
                </div>
                <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                <div class="invalid-feedback">
                  please fill in your password
                </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                  <label class="custom-control-label" for="remember-me">Remember Me</label>
                </div>
              </div>

              <div class="form-group">
                <button id="login-button" type="button" class="btn btn-primary btn-lg btn-block" tabindex="4" style="font-size: 16px;">
                  Login
                </button>
              </div>
            </form>
            <p id="warning-message"></p>
          </div>
        </div>
        <div class="mt-5 text-muted text-center">
          Don't have an account? <a href="register.html">Create One</a>
        </div>
        <div class="simple-footer">
          Copyright © 2021 sketsa.id. All rights reserved
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../../template/footer-login-register') %> 