<%- include('../../template/header'); %>
<%- include('../../template/navbar-user'); %>

<main class="page landing-page">
  <section class="clean-block features" style="margin-top: 60px;background: #f8f8f6;">
    <div class="container">
      <div class="block-heading">
          <h2 id="greeting-text" class="text-info" style="text-align: center;margin-bottom: 30px;">Good Morning!</h2>
      </div>
      <div class="row">
          </div>
          <div class="col-md-3" style="margin-bottom: 20px;">
            <a href="commission-details.html" class="custom-card">
              <div class="card">
                  <div class="card-body" style="padding: 0px;"><img class="img-fluid" src="/public/img/place.jpg" style="margin-bottom: 15px;">
                      <h4 class="card-title" style="margin-right: 16px;margin-left: 16px;">Title</h4>
                      <h6 class="text-muted card-Rp 100.000 mb-2" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;padding-bottom: 10px;">Rp 100.000</h6>
                  </div>
                </a>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-3" style="margin-bottom: 20px;">
          <a href="commission-details.html" class="custom-card">
            <div class="card">
                <div class="card-body" style="padding: 0px;"><img class="img-fluid" src="/public/img/place.jpg" style="margin-bottom: 15px;">
                    <h4 class="card-title" style="margin-right: 16px;margin-left: 16px;">Title</h4>
                    <h6 class="text-muted card-Rp 100.000 mb-2" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;padding-bottom: 10px;">Rp 100.000</h6>
                </div>
              </a></div>
        </div>
        <div class="col-md-3" style="margin-bottom: 20px;">
          <a href="commission-details.html" class="custom-card">
            <div class="card">
                <div class="card-body" style="padding: 0px;"><img class="img-fluid" src="/public/img/place.jpg" style="margin-bottom: 15px;">
                    <h4 class="card-title" style="margin-right: 16px;margin-left: 16px;">Title</h4>
                    <h6 class="text-muted card-Rp 100.000 mb-2" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;padding-bottom: 10px;">Rp 100.000</h6>
                </div>
              </a></div>
        </div>
        <div class="col-md-3" style="margin-bottom: 20px;">
          <a href="commission-details.html" class="custom-card">
            <div class="card">
                <div class="card-body" style="padding: 0px;"><img class="img-fluid" src="/public/img/place.jpg" style="margin-bottom: 15px;">
                    <h4 class="card-title" style="margin-right: 16px;margin-left: 16px;">Title</h4>
                    <h6 class="text-muted card-Rp 100.000 mb-2" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;padding-bottom: 10px;">Rp 100.000</h6>
                </div>
              </a></div>
        </div>
        <div class="col-md-3" style="margin-bottom: 20px;">
          <a href="commission-details.html" class="custom-card">
            <div class="card">
                <div class="card-body" style="padding: 0px;"><img class="img-fluid" src="/public/img/place.jpg" style="margin-bottom: 15px;">
                    <h4 class="card-title" style="margin-right: 16px;margin-left: 16px;">Title</h4>
                    <h6 class="text-muted card-Rp 100.000 mb-2" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;padding-bottom: 10px;">Rp 100.000</h6>
                </div>
              </a></div>
        </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-3" style="margin-bottom: 20px;">
          <a href="commission-details.html" class="custom-card">
            <div class="card">
                <div class="card-body" style="padding: 0px;"><img class="img-fluid" src="/public/img/place.jpg" style="margin-bottom: 15px;">
                    <h4 class="card-title" style="margin-right: 16px;margin-left: 16px;">Title</h4>
                    <h6 class="text-muted card-Rp 100.000 mb-2" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;padding-bottom: 10px;">Rp 100.000</h6>
                </div>
              </a></div>
        </div>
        <div class="col-md-3" style="margin-bottom: 20px;">
          <a href="commission-details.html" class="custom-card">
            <div class="card">
                <div class="card-body" style="padding: 0px;"><img class="img-fluid" src="/public/img/place.jpg" style="margin-bottom: 15px;">
                    <h4 class="card-title" style="margin-right: 16px;margin-left: 16px;">Title</h4>
                    <h6 class="text-muted card-Rp 100.000 mb-2" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;padding-bottom: 10px;">Rp 100.000</h6>
                </div>
              </a></div>
        </div>
        <div class="col-md-3" style="margin-bottom: 20px;">
          <a href="commission-details.html" class="custom-card">
            <div class="card">
                <div class="card-body" style="padding: 0px;"><img class="img-fluid" src="/public/img/place.jpg" style="margin-bottom: 15px;">
                    <h4 class="card-title" style="margin-right: 16px;margin-left: 16px;">Title</h4>
                    <h6 class="text-muted card-Rp 100.000 mb-2" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;padding-bottom: 10px;">Rp 100.000</h6>
                </div>
              </a></div>
        </div>
        <div class="col-md-3" style="margin-bottom: 20px;">
          <a href="commission-details.html" class="custom-card">
            <div class="card">
                <div class="card-body" style="padding: 0px;"><img class="img-fluid" src="/public/img/place.jpg" style="margin-bottom: 15px;">
                    <h4 class="card-title" style="margin-right: 16px;margin-left: 16px;">Title</h4>
                    <h6 class="text-muted card-Rp 100.000 mb-2" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;padding-bottom: 10px;">Rp 100.000</h6>
                </div>
              </a></div>
        </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-3" style="margin-bottom: 20px;">
          <a href="commission-details.html" class="custom-card">
            <div class="card">
                <div class="card-body" style="padding: 0px;"><img class="img-fluid" src="/public/img/place.jpg" style="margin-bottom: 15px;">
                    <h4 class="card-title" style="margin-right: 16px;margin-left: 16px;">Title</h4>
                    <h6 class="text-muted card-Rp 100.000 mb-2" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;padding-bottom: 10px;">Rp 100.000</h6>
                </div>
              </a></div>
        </div>
        <div class="col-md-3" style="margin-bottom: 20px;">
          <a href="commission-details.html" class="custom-card">
            <div class="card">
                <div class="card-body" style="padding: 0px;"><img class="img-fluid" src="/public/img/place.jpg" style="margin-bottom: 15px;">
                    <h4 class="card-title" style="margin-right: 16px;margin-left: 16px;">Title</h4>
                    <h6 class="text-muted card-Rp 100.000 mb-2" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;padding-bottom: 10px;">Rp 100.000</h6>
                </div>
              </a></div>
        </div>
        <div class="col-md-3" style="margin-bottom: 20px;">
          <a href="commission-details.html" class="custom-card">
            <div class="card">
                <div class="card-body" style="padding: 0px;"><img class="img-fluid" src="/public/img/place.jpg" style="margin-bottom: 15px;">
                    <h4 class="card-title" style="margin-right: 16px;margin-left: 16px;">Title</h4>
                    <h6 class="text-muted card-Rp 100.000 mb-2" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;padding-bottom: 10px;">Rp 100.000</h6>
                </div>
              </a></div>
        </div>
        <div class="col-md-3" style="margin-bottom: 20px;">
          <a href="commission-details.html" class="custom-card">
            <div class="card">
                <div class="card-body" style="padding: 0px;"><img class="img-fluid" src="/public/img/place.jpg" style="margin-bottom: 15px;">
                    <h4 class="card-title" style="margin-right: 16px;margin-left: 16px;">Title</h4>
                    <h6 class="text-muted card-Rp 100.000 mb-2" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;padding-bottom: 10px;">Rp 100.000</h6>
                </div>
              </a></div>
        </div>
      </div>
  </div>
</section>
</main>
<%- include('../../template/footer'); %> 