<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="assets/img/logo2.png" type="image/png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sketsa.id - Home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/"><img src="assets/img/logo.png" style="height: 50px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" style="font-size: 16px;">Home<br></a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="font-size: 16px;">Explore<br></a></li>
                    <li class="nav-item"><a class="nav-link" href="login" style="font-size: 16px;">Login<br></a></li>
                    <li class="nav-item"><button onclick="location.href='register'" class="btn btn-primary" type="button" style="font-size: 16px;padding-right: 20px;padding-left: 20px;">Sign Up<br></button></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image: url(&quot;assets/img/bg.png&quot;);color: rgba(0, 0, 0, 0.61);height: 860px;">
            <div class="text">
                <h2>sketsa.id</h2>
                <p>Providing the best art commissions.</p><button class="btn btn-primary btn-lg" type="button" onclick="location.href='register.html'">Join now</button>
            </div>
        </section>
        <section class="clean-block features" id="features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-rocket icon"></i>
                        <h4>On-demand commissions</h4>
                        <p>Add upgrades to your commission based on your needs.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="far fa-money-bill-alt icon"></i>
                        <h4>Easy payment</h4>
                        <p>With a lot of payment methods, you can opt for your preferred method.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                        <h4>High quality commissions</h4>
                        <p>We provide you the most proficient artist by using reputation system.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="far fa-smile icon"></i>
                        <h4>Friendly support</h4>
                        <p>Hi, any questions for us? ;)</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block slider dark" id="about"> 
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4" style="margin-bottom: 40px;">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="assets/img/hock.png">
                            <div class="card-body info">
                                <h4 class="card-title">Hocky Harijanto</h4>
                                <p class="card-text">2301848640</p>
                                <div class="icons"><a href="#" target="_blank"><i class="icon-social-linkedin"></i></a><a href="https://www.instagram.com/hockyhh/" target="_blank"><i class="icon-social-instagram"></i></a><a href="#" target="_blank"><i class="icon-social-github"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4" style="margin-bottom: 40px;">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="assets/img/iggy.png">
                            <div class="card-body info">
                                <h4 class="card-title">Ignatius Christanto</h4>
                                <p class="card-text">2301918224</p>
                                <div class="icons"><a href="#" target="_blank"><i class="icon-social-linkedin"></i></a><a href="https://www.instagram.com/ignatiuschristanto/" target="_blank"><i class="icon-social-instagram"></i></a><a href="#" target="_blank"><i class="icon-social-github"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4" style="margin-bottom: 40px;">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="assets/img/sofie.png">
                            <div class="card-body info">
                                <h4 class="card-title">Sofie Adira</h4>
                                <p class="card-text">2301851641</p>
                                <div class="icons"><a href="#" target="_blank"><i class="icon-social-linkedin"></i></a><a href="https://www.instagram.com/sofie_010101/" target="_blank"><i class="icon-social-instagram"></i></a><a href="#" target="_blank"><i class="icon-social-github"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4" style="margin-bottom: 40px;">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="assets/img/steven.png">
                            <div class="card-body info">
                                <h4 class="card-title">Steven Kristian</h4>
                                <p class="card-text">2301849486</p>
                                <div class="icons"><a href="#" target="_blank"><i class="icon-social-linkedin"></i></a><a href="https://www.instagram.com/steven300900/" target="_blank"><i class="icon-social-instagram"></i></a><a href="#" target="_blank"><i class="icon-social-github"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4" style="margin-bottom: 40px;">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="assets/img/vanessa.png">
                            <div class="card-body info">
                                <h4 class="card-title">Vanessa Aurellia</h4>
                                <p class="card-text">2301847852</p>
                                <div class="icons"><a href="https://www.linkedin.com/in/vanessa-aurellia/" target="_blank"><i class="icon-social-linkedin"></i></a><a href="https://www.instagram.com/vanessaaurellia12/" target="_blank"><i class="icon-social-instagram"></i></a><a href="https://github.com/vanessaaurellia" target="_blank"><i class="icon-social-github"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer-basic">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#features">Features</a></li>
            <li class="list-inline-item"><a href="#about">About Us</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Copyright © 2021 sketsa.id. All rights reserved</p>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>