<%- include('../template/header'); %>
<%- include('../template/navbar-index'); %>
<main class="page landing-page">
    <section class="clean-block clean-hero" style="background-image: url(&quot;public/img/bg.png&quot;);color: rgba(0, 0, 0, 0.61);height: 860px;">
        <div class="text">
            <h2>sketsa.id</h2>
            <p>Providing the best art commissions.</p><button class="btn btn-primary btn-lg" type="button" onclick="location.href='register.html'">Join now</button>
        </div>
    </section>
    <section class="clean-block features" id="features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Features</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-rocket icon"></i>
                    <h4>On-demand commissions</h4>
                    <p>Add upgrades to your commission based on your needs.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="far fa-money-bill-alt icon"></i>
                    <h4>Easy payment</h4>
                    <p>With a lot of payment methods, you can opt for your preferred method.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                    <h4>High quality commissions</h4>
                    <p>We provide you the most proficient artist by using reputation system.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="far fa-smile icon"></i>
                    <h4>Friendly support</h4>
                    <p>Hi, any questions for us? ;)</p>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block slider dark" id="about"> 
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">About Us</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4" style="margin-bottom: 40px;">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/public/img/hock.png">
                        <div class="card-body info">
                            <h4 class="card-title">Hocky Harijanto</h4>
                            <p class="card-text">2301848640</p>
                            <div class="icons"><a href="#" target="_blank"><i class="icon-social-linkedin"></i></a><a href="https://www.instagram.com/hockyhh/" target="_blank"><i class="icon-social-instagram"></i></a><a href="#" target="_blank"><i class="icon-social-github"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4" style="margin-bottom: 40px;">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/public/img/iggy.png">
                        <div class="card-body info">
                            <h4 class="card-title">Ignatius Christanto</h4>
                            <p class="card-text">2301918224</p>
                            <div class="icons"><a href="#" target="_blank"><i class="icon-social-linkedin"></i></a><a href="https://www.instagram.com/ignatiuschristanto/" target="_blank"><i class="icon-social-instagram"></i></a><a href="#" target="_blank"><i class="icon-social-github"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4" style="margin-bottom: 40px;">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/public/img/sofie.png">
                        <div class="card-body info">
                            <h4 class="card-title">Sofie Adira</h4>
                            <p class="card-text">2301851641</p>
                            <div class="icons"><a href="#" target="_blank"><i class="icon-social-linkedin"></i></a><a href="https://www.instagram.com/sofie_010101/" target="_blank"><i class="icon-social-instagram"></i></a><a href="#" target="_blank"><i class="icon-social-github"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4" style="margin-bottom: 40px;">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/public/img/steven.png">
                        <div class="card-body info">
                            <h4 class="card-title">Steven Kristian</h4>
                            <p class="card-text">2301849486</p>
                            <div class="icons"><a href="#" target="_blank"><i class="icon-social-linkedin"></i></a><a href="https://www.instagram.com/steven300900/" target="_blank"><i class="icon-social-instagram"></i></a><a href="#" target="_blank"><i class="icon-social-github"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4" style="margin-bottom: 40px;">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/public/img/vanessa.png">
                        <div class="card-body info">
                            <h4 class="card-title">Vanessa Aurellia</h4>
                            <p class="card-text">2301847852</p>
                            <div class="icons"><a href="https://www.linkedin.com/in/vanessa-aurellia/" target="_blank"><i class="icon-social-linkedin"></i></a><a href="https://www.instagram.com/vanessaaurellia12/" target="_blank"><i class="icon-social-instagram"></i></a><a href="https://github.com/vanessaaurellia" target="_blank"><i class="icon-social-github"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>
</main>
<%- include('../template/footer'); %>