<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href=""><img src="public/img/logo.png" style="height: 50px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#" style="font-size: 16px;">Home<br></a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="font-size: 16px;">Explore<br></a></li>
                <li class="nav-item"><a class="nav-link" href="login" style="font-size: 16px;">Login<br></a></li>
                <li class="nav-item"><button onclick="location.href='register'" class="btn btn-primary" type="button" style="font-size: 16px;padding-right: 20px;padding-left: 20px;">Sign Up<br></button></li>
            </ul>
        </div>
    </div>
</nav>